<header><h1><span>"PUN-NY</span><span> JOKES"</span></h1></header>

<section>
  <mat-radio-group [(ngModel)]="selectedType" aria-label="Select an option" (change)='getJoke()'>
    <mat-radio-button value='all'>All Jokes</mat-radio-button>
    <mat-radio-button value='general'>General</mat-radio-button>
    <mat-radio-button value='programming'>Programming</mat-radio-button>
  </mat-radio-group>
  <app-joke [isLoading]="isLoading" [joke]='jokeAPI' (nextJoke)='getJoke()'></app-joke>
  <div class="cat">
    <div class="ear ear--left"></div>
    <div class="ear ear--right"></div>
    <div class="face">
      <div class="eye eye--left">
        <div class="eye-pupil"></div>
      </div>
      <div class="eye eye--right">
        <div class="eye-pupil"></div>
      </div>
      <div class="muzzle"></div>
    </div>
  </div>
</section>
