@import '@angular/material/prebuilt-themes/purple-green.css';
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import './colors.scss';

html, body { 
    height: 100vh; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: $color-black; 
}

@media only screen and (max-width: 600px) {
    body {
        overflow: hidden;
    }

}